{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/styles/app.css"/>
	<link rel="stylesheet" href="/styles/login.css"/>
{% endblock %}

{% block main %}
	<main>
		<div class="login-wrapper">
			<div class="login-form">

				{% include 'component/_alert.html.twig' with {'label' : 'success'} %}

				{% if error %}
					<div class="alert alert-danger">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				<form method="post" novalidate>
					<h1>Connectez-vous</h1>
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus/>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required/>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

					<div>
						<label>
							<input type="checkbox" name="_remember_me"/>
							Se souvenir de moi
						</label>
					</div>

					<button class="btn btn-lg btn-primary" type="submit">Connexion</button>
					
					<div>
						<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a><br>
					</div>
				</form>
			</div>
		</div>
	</main>
{% endblock %}
