body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
}

.logo img {
  width: 40px;
}


.btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn.light {
  background: white;
  color: black;
}

.btn.dark {
  background: black;
  color: white;
}

main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  background: radial-gradient(circle, #075e2d, #0b0b0b);
}

.hero {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

.bold {
  font-weight: bold;
  color: #f7e6c4;
}
