body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #0A5340, #0b0b0b);
  color: #FFDDBF;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
}

.logo img {
  width: 40px;
}


.btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn.light {
  background: white;
  color: black;
}

.btn.dark {
  background: black;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.hero {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

.bold {
  font-weight: bold;
  color: #f7e6c4;
}