.registration_main {
  height: 100%;
  padding: 20px 0;
}

.registration_wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-self: center;
  background-color: #FFfffF;
  color: #000000;
  padding: 15px;
  border-radius: 10px;

  .circle {
    height: 20px;
    width: 20px;
    background-color: #0A5340;
    border-radius: 10px;
  }

  .top_circle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .bottom_circle {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }

  &>h1 {
    font-size: 50px;
    align-self: center;
  }

  .registration_div {
    /* display: flex; */
    gap: 10px;
    margin-bottom: 10px;

    .registration_field {
      width: 100%;
    }
  }
}

footer {
  position: relative;
}