<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/styles/app.css"/>
		<link rel="stylesheet" href="/styles/nav.css"/>
	</head>
	<body>
		{% include 'component/nav_user.html.twig' %}
		{% block main %}{% endblock %}

		<footer>
			<div>
				Bts Slam
			</div>
			<div>
				&copy; Tous droit réservés
			</div>
		</footer>
	</body>
</html>

