<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>

    <link rel="stylesheet" href="/styles/app.css" />
    
  </head>
  <body>
    {% include 'component/nav.html.twig' %}

    <main>
      <h1>Hello</h1>
    </main>

    <!-- <main>{% block content %}{% endblock %}</main> -->

    
  </body>
</html>
