{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/styles/app.css"/>
{% endblock %}

{% block main %}
  
<main>
	<h1>Hello</h1>
</main>

<!-- <main>{% block content %}{% endblock %}</main> -->
{% endblock %}
