<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>BiblioBus</title>
		<link rel="stylesheet" href="/styles/register.css"/>
	</head>
	<body>
		<nav class="navbar">
			<div class="logo">
				<img src="{{ asset('img/logo.png') }}" alt="Logo"/>
			</div>
			<a href="{{ path('app_home') }}">Acceuil</a>

		</nav>

		<section class="subscribe">
			<div class="subscription-box">
				<h2>10€</h2>
				<p>Annuel</p>
				<div class="subscription-details">
					<p>
						<strong>Abonnement familial</strong>
					</p>
					<p>Max 3 livres/personne par passage.</p>
					<p>Clôture des réservations : 2 jours avant chaque passage.</p>
					<p>Un livre peut être réservé pour plusieurs mois.</p>
					<p>Plusieurs exemplaires autorisés si de collections différentes.</p>
				</div>
				<div class="cta">
					<a href="{{ path('app_register') }}">
						<span>&larr;</span>
						cliquez ici</a>
				</div>
			</div>
		</section>
	</body>
</html>
