<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title>

    <link rel="stylesheet" href="/styles/resiliation.css" />
    
  </head>>
<body>

    <div class="confirmation-container">
        <h1>Demande de résiliation</h1>
        <p>Votre demande de résiliation a bien été prise en compte</p>
        <img src="{{ asset('images/resiliation.png') }}" alt="Confirmation résiliation">
        <a href="{{ path('app_home') }}" class="btn">Retour à l'accueil</a>
    </div>

</body>
</
