<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/seconnecter.css" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ asset('images/logo.png') }}" alt="Logo">  <!-- Replace with your logo -->
        </div>
        <nav>
            <a href="{{ path('app_home') }}">Acceuil</a>
            
        </nav>
    </header>

    <main>
        <div class="hero">
            <div class="login-form">
                <form>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">

                    <button type="submit">Se connecter</button>

                    <a href="#">J'ai oublié mon mot de passe!</a><br>
                    <span>Vous n'avez pas de compte ? <a href="#">Inscrivez-vous en cliquant ici !!</a></span>
                </form>
            </div>
        </div>
        
    </main>
</body>
</html>
