<h1>Veuillez confirmer votre adresse email</h1>

<p>
    Vérifiez votre adresse email en cliquant sur le lien suivant :<br><br>
    <a href="{{ signedUrl|raw }}">Vérifié mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne journée
</p>
